{% extends "cuenta/base.html" %}
{% block title %} Home {% endblock title %}
{% block subtitle %} Gestor Tareas {% endblock subtitle %}
{% block content %}

<!-- Modal que se activa con el boton mas(Agregar Tarea) -->
    <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Añadir Tarea</h4>
                <div class="row">
                    <form class="col s12" name="formulario" id="formulario">
                        <div class="row modal-form-row">
                            <div class="input-field col s12">
                                <input id="nombre" type="text" name="name" class="validate">
                                <label for="nombre">Nombre</label>
                            </div>
                        </div>    
                        <div class="row">
                            <div class="input-field col s12">
                                <textarea id="contenido" type="text" name="content" class="materialize-textarea validate"></textarea>
                                <label for="contenido">Contenido</label>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <a onclick="agregar()" class=" modal-action modal-close waves-effect waves-green btn">Aceptar</a>
                            <a class=" modal-action modal-close waves-effect waves-green btn">Cancelar</a>
                        </div>             
                    </form>
                </div>
            </div>
    </div>
    <!-- Cuerpo principal del html -->
    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
        <h1 class="header center orange-text">Tareas</h1>
        <div class="row center">
            <h5 class="header col s12 light">Gestiona de forma practica tus tareas</h5>
        </div>
        <br><br>
        </div>
    </div>
    <div class="container">
        {% for tarea in tareas %}
            <ul class="collection with-header">
                <li style="background:#F6F6F6;" class="collection-item">
                    <a href="{% url 'tarea:detail' tarea.id %}">
                        {{tarea.name}}
                        <a  onclick="eliminarTarea('{{ tarea.id }}')"  class="secondary-content">
                             <i  style="color:#ff9800" class="material-icons">delete</i>
                        </a>
                    
                    </a>
                </li>
            </ul> 
        {% endfor %}
    </div>
    <!-- Boton Agregar tareas-->
    <div class="fixed-action-btn">
        <a class="btn-floating pulse btn-large waves-light orange modal-trigger" data-target="modal1"><i class="material-icons">add</i></a> 
    </div>
    
{% endblock content %}

{% block script %}
    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });
        function eliminarTarea(identificadorId) {
            var request = $.ajax({
                type: "POST",
                url: "{% url 'tarea:eliminar_tarea' %}",
                data: {
                    "csrfmiddlewaretoken": "{{ csrf_token }}",
                    "identificador": identificadorId                    
                },
            });
            request.done(function(response) {
                location.reload();
            });
        }
        function agregar(){
            console.log(formulario.name.value.length)
            if(formulario.name.value.length == '0' || formulario.content.value.length == '0')
            {
                alert("Campos vacios");
            }
            else{
                name = formulario.name.value;
                content = formulario.content.value;
                var request = $.ajax({
                    type: "POST",
                    url: "{% url 'tarea:agregar_tarea' %}",
                    data: {
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                        "name": name,
                        "content":content,    
                    },
                });
               
                request.done(function(response) {
                    location.reload();
                });

            }
           
        }
    </script> 

{% endblock script %}
    