{% extends "cuenta/base.html" %}
{% block title %} Detalle {% endblock title %}
{% block subtitle %} Detalle Tarea {% endblock subtitle %}

{% block regresar %}
    <a onclick="guardarDato();" id="logo-container" href="#" class="brand-logo" style="left:2%;">
        <i style="color:aliceblue; font-size:100%;" class="material-icons prefix">arrow_back</i>
    </a>
{% endblock regresar %}
    
{% block content %}

    <div class="section no-pad-bot" id="index-banner">
        <div class="container">
        <h1 class="header center orange-text">Tarea #{{tarea.id}}</h1>
        </div>
    </div>
    <div class="container">
        <div class="section">
            <div class="col s12 m7 dark">
                <h2 class="header"><b>{{tarea.name}}</b></h2>
                <div class="card horizontal">
                    <div class="card-stacked ">
                        <div>
                            <p>{{tarea.content}}</p>
                        </div>
                        <div class="card-action center">
                            <div id="contenedor1">
                                <input type="hidden" id="dato" value="{{tarea.time}}">
                                <input type="hidden" id="id_tarea" value="{{tarea.id}}">
                                <div class="reloj" id="Horas"></div>
                                <div class="reloj" id="Minutos"></div>
                                <div class="reloj" id="Segundos"></div>
                            </div>
                        </div>
                        <div class="card-action center">
                            <button style="border-radius: 100px;" id="inicio" value="Start" onclick="inicio();"><i class="material-icons">play_arrow</i></button>
                            <button style="border-radius: 100px;" id="parar" value="Stop" onclick="parar();" disabled><i class="material-icons">pause</i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

{% block script %}
    <script>
            window.onload = datos();
            function datos () {
                tiempoTarea = document.getElementById('dato').value
                centesimas = 0;
                segundos = Math.floor(tiempoTarea % 60);
                if (segundos < 10){
                    segundos = "0"+segundos;
                }
                minutos = Math.floor(tiempoTarea / 60);
                if (minutos < 10){
                    minutos = "0"+minutos;
                }
                horas = Math.floor(tiempoTarea / 3600);
                if (horas < 10){
                    horas = "0"+ horas;
                }
                Segundos.innerHTML = ":" + segundos;
                Minutos.innerHTML = ":" + minutos;
                Horas.innerHTML = horas;
            }

            function guardarDato(){
                tiempo = tiempoTareafinal
                id_tarea = document.getElementById('id_tarea').value
                var request = $.ajax({
                    type: "POST",
                    url: "{% url 'tarea:guardar_tiempo' %}",
                    data: {
                        "csrfmiddlewaretoken": "{{ csrf_token }}",
                        "id_tarea": id_tarea,
                        "tiempo":tiempo,                
                    },
                });
                request.done(function(response) {
                        window.location.replace("{% url 'tarea:tarea_list' %}");
                  
                });
            }
            function parar () {
                clearInterval(control);
                document.getElementById("parar").disabled = true;
                document.getElementById("inicio").disabled = false;

            }
            
    </script>
{% endblock script %}