*{
	margin: 0;
	padding: 0;
}
#contenedor1{
	margin: 10px auto;
	width: 520px;
	height: 115px;
	padding-left:5%;
}
.reloj{
	float: left;
	font-size: 80px;
	font-family: Courier,sans-serif;
	color: #363431;
}
a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: initial;
}
  .boton:hover{
	opacity: 0.50;
	-moz-opacity: .50;
	filter:alpha (opacity=50);
  }
  .boton a{
	color:#fff;
	text-decoration:none;
	padding:5px 5px 5px 0;
  }

#cuerpo
        {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 0%;
        position: relative;
    }
#izquierda
        {
        padding: 0px;
        margin: 0px;
        width: 291px;
        height: 100%;
        float: left;
    }
#centro
        {
        padding: 0px;
        margin: 0px;
        width: 100%;
        height: 100%;
               
    }
#derecha
        {
        padding: 0px;
        margin: 0px;
        width: 23px;
        height: 100%;          
        float: right;
    }


#delete1:hover{
    font-weight: bold;
}