<!DOCTYPE html>
<html lang="en">
    <head>
    {% load static %}
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{% block title %}{% endblock title %} | Gestor Tareas</title>
    <!-- CSS  -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/css/materialize.min.css">
    <link rel="stylesheet" href="{% static 'cuenta/css/style.css' %}">
    <!-- Compiled and minified JavaScript -->
    </head>
    <body>
        <nav class="light-blue lighten-1" role="navigation">
                <div id="cuerpo">
                        <div id="izquierda">
                            {% block regresar %} {% endblock regresar %}
                        </div>
                        <div id="centro">
                            <div class="nav-wrapper container">
                                <a id="logo-container" href="#" class="brand-logo center">
                                    Gestor de Tareas
                                </a>
                            </div>
                        </div>
                        <div id="derecha">
                            {% if request.path == '/' or request.path == '/accounts/' %}
                                 <a id="logo-container" style="left:85%;" href="{% url 'singup' %}" class="brand-logo">
                                    Register
                                </a>
                            {% else %} 
                                {% if request.user.is_authenticated %}
                                <a id="logo-container" style="left:85%" href="{% url 'logout' %}" class="brand-logo">
                                    Logout
                                </a>
                            
                                {% else %}
                                
                                <a id="logo-container" style="left:85%" href="{% url 'loginI' %}" class="brand-logo">
                                    login 
                                </a>
                                
                                {% endif %}
                            {% endif %}
                            
                        </div>
                </div>

            
        </nav>
    
                    
        {% block content %} {% endblock content %}
 
        <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-rc.2/js/materialize.min.js"></script>
        <script src="{% static 'cuenta/js/init.js' %}"></script>
        
        
        {% block script %}  {% endblock script %}
    </body>
</html>
