{% extends "cuenta/base.html" %}
{% block title %} Login {% endblock title %}
{% block content %}

    <br><br><br><br>
    <section class="container">
        <div class="row">
        <h3 class="center-align">LOGIN</h3>
            <article class="col s6 offset-s3">
                {% if invalido %}
                <p style="color:rgb(9, 23, 221)">Formulario Invalido</p>
                {% endif %}
                {% if vacio %}
                <p style="color:rgb(9, 23, 221)">El nombre de usuario ingresado no existe</p>
                {% endif %} 
                {% if error %}
                <p style="color:rgb(9, 23, 221)">Contraseña incorrecta</p>
                {% endif %}
                <form method="POST" action=".">
                    {% csrf_token %}
                    <div class="input-field">
                        <i class="material-icons prefix">perm_identity</i>
                        <label for="nombre">Username</label>
                        <input type="text" name="username" required>
                    </div>
                    <div class="input-field">
                        <i class="material-icons prefix">vpn_key</i>
                        <label for="password">Contraseña</label>
                        <input type="password" name="password" required>
                    </div>
                    <p class="center-align">
                        <button class="waves-effect waves-light btn orange" type="submit">Ingresar</button>
                    </p>
                </form>
                <p class="center-align">
                    ¿Ha olvidado su contraseña? Puede restaurarla <a href="{% url 'password_reset' %}">Aquí</a>
                </p>
            </article>
        </div>
    </section>
{% endblock content %}


    
    