{% extends "cuenta/base.html" %}
{% block title %} Recuperacion {% endblock title %}
{% block content %}

    <br><br><br><br>
    <section class="container">
        <div class="row">
            <h3 class="center-align">MENSAJE</h3>
            <div class="container center">
                <p> Le hemos enviado por email las instrucciones para restablecer la contraseña, si es que existe una cuenta con
                    la dirección electrónica que indicó. Debería recibirlas en breve.
                </p>
                <br>
                <p>Si no recibe un correo, por favor asegúrese de que ha introducido la dirección de correo con la que se 
                        registró y verifique su carpeta de spam.
                </p>
            </div>            
        </div>
    </section>
{% endblock content %}


    
    