{% extends 'cuenta/base.html' %}
{% load static %}
{% block title %}Escriba la nueva contraseña{% endblock %}
{% block content %}
<style>.errorlist{color:red;}</style>
<section class="container">
    <div class="row">
        <article class="col s6 offset-s3">
          <br><br><br>
            {% if validlink %}
            <form method="POST" action=".">
                <h3 class="mb-4 center">Escriba la nueva contraseña</h3>
                <p class="center">Por favor, introduzca su contraseña nueva dos veces para verificar que la ha escrito correctamente.</p>
                <br>
                {% csrf_token %}
                {{form.new_password1.errors}}
                <div class="input-field">
                    <i class="material-icons prefix">vpn_key</i>
                    <label for="new_password1">Contraseña</label>
                    <input id="new_password1" type="password" name="new_password1" required>
                </div>
                {{form.new_password2.errors}}
                <div class="input-field">
                    <i class="material-icons prefix">vpn_key</i>
                    <label for="new_password2">Repetir Contraseña</label>
                    <input id="new_password2" type="password" name="new_password2" required>
                </div>
                <p class="center-align">
                    <button class="waves-effect waves-light btn orange" type="submit">Ingresar</button>
                </p>
            </form>
            {% else %}
            <h3 class="mb-4">Restablecimiento de contraseñas fallido</h3>
            <p>El enlace de restablecimiento de contraseña era inválido, seguramente porque se haya usado antes. Por favor, solicite un nuevo restablecimiento de contraseña <a href="{% url 'password_reset' %}">aquí</a>.</p>
            {% endif %}
        </article>
    </div>
</section>
{% endblock %}