{% extends 'cuenta/base.html' %}

{% block content %}

    <br><br><br><br>
    <section class="container">
        <div class="row">
            <h3 class="center-align">MENSAJE</h3>
            <div class="container center">
                <p> Tu contraseña ha sido actualizada con exito,
                        <a style="color:#ff9800" href="{% url 'loginI' %}">Login</a> para ingresar ahora.
                </p>
            </div>            
        </div>
    </section>
{% endblock %}