{% extends "cuenta/base.html" %}
{% block title %} Recuperacion {% endblock title %}
{% block content %}
{% load i18n%} 
    <br><br><br><br>
    <section class="container">
        <div class="row">
        <h3 class="center-align">RECUPERAR CONTRASEÑA</h3>
            <article class="col s6 offset-s3">
                {% if Error %}
                <p style="color:red">El email no esta en nuestra base de datos.</p>
                {% endif %}
                {% if Enviado %}
                <p style="color:red">Su mensaje de recuperacion ha sido enviado correctamente.</p>
                {% endif %}
                <form method="POST" action=".">
                    {% csrf_token %}
                    <br>
                    <div class="input-field">
                        <i class="material-icons prefix">email</i>
                        <label for="email">Email</label>
                        <input type="text" name="email" required>
                    </div>
                    <p class="center-align">
                        <button class="waves-effect waves-light btn orange" type="submit">Aceptar</button>
                    </p>
                </form>
            </article>
        </div>
    </section>
{% endblock content %}


    
    