{% extends "cuenta/base.html" %}
{% block title %} SingUp {% endblock title %}
{% block content %}
    <br><br><br><br>
    <section class="container">
            <div class="row">
            <h3 class="center-align">SING UP</h3>
                <article class="col s6 offset-s3">
                    {% if error %}
                    <p style="color:red">Usuario existente o datos incorrectos.</p>
                    {% endif %}
                    <form method="POST" action=".">
                            {% csrf_token %}
                        <div class="input-field">
                            <i class="material-icons prefix">perm_identity</i>
                            <label for="nombre">Username</label>
                            <input type="text" name="username" required>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">email</i>
                            <label for="nombre">Email</label>
                            <input type="email" name="email" required>
                        </div>
                        <div class="input-field">
                            <i class="material-icons prefix">person_pin</i>
                            <label for="password">Contraseña</label>
                            <input type="password" name="password" required>
                        </div>
                        <p class="center-align">
                            <button class="waves-effect waves-light btn orange" type="submit">Aceptar</button>
                        </p>
                    </form>
    
                </article>
            </div>
        </section>
    
{% endblock content %}
    